// overwrite theme variables


// quick test

$primary: rgb(55, 55, 210);
$secondary: rgb(251, 150, 144);
$success: rgb(129, 168, 99);
$warning: rgb(254, 151, 43);
$danger: rgb(244, 67, 54);
$info: rgb(170, 100, 143);

$light: rgb(230, 231, 247);
$dark: rgb(11, 1, 98);


// import bootstrap styles at the bottom!
// toujours placé en bas!
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/_variables.scss";